controller_manager:
  ros__parameters:
    update_rate: 100
    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster
    joint_trajectory_controller:
      type: joint_trajectory_controller/JointTrajectoryController
      joints:
        - left_thigh_joint
        - left_shank_joint
        - right_thigh_joint
        - right_shank_joint
      state_publish_rate: 50
      command_interfaces:
        - position
      state_interfaces:
        - position
        - velocity
